.courses-container{

padding:30px;

background:#f4f6f9;

min-height:100vh;

}

.courses-container h1{

margin-bottom:20px;

color:#4f46e5;

}

.course-form{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

margin-bottom:30px;

}

.course-form input,
.course-form textarea,
.course-form select{

padding:12px;

border:1px solid #ccc;

border-radius:6px;

font-size:15px;

}

.course-form textarea{

height:100px;

resize:none;

}

.course-form button{

background:#4f46e5;

color:white;

padding:12px;

border:none;

cursor:pointer;

border-radius:6px;

font-size:16px;

}

.course-form button:hover{

background:#4f46e5;

}

table{

width:100%;

border-collapse:collapse;

background:white;

}

table th{

background:#4f46e5;

color:white;

padding:12px;

}

table td{

padding:12px;

border-bottom:1px solid #ddd;

text-align:center;

}

.delete-btn{

background:red;

color:white;

border:none;

padding:8px 15px;

border-radius:5px;

cursor:pointer;

}

.delete-btn:hover{

background:darkred;

}

.edit-btn{
    background:#2c10cc;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:5px;
    cursor:pointer;
    margin-right:8px;
}

.edit-btn:hover{
    background:rgb(89, 4, 224);
}