.prediction-container{

    padding:30px;
    background:#f4f6f9;
    min-height:100vh;

}

.prediction-container h1{

    color:#4f46e5;
    margin-bottom:25px;

}

.prediction-card,
.activity-card,
.course-card-ai{

    background:white;
    padding:25px;
    border-radius:10px;
    margin-bottom:25px;
    box-shadow:0 3px 8px rgba(0,0,0,.1);

}

.prediction-result{

    color:#4f46e5;
    margin-left:10px;

}

.activity-card table{

    width:100%;
    border-collapse:collapse;

}

.activity-card td{

    border:1px solid #ddd;
    padding:12px;

}

.activity-card tr:nth-child(even){

    background:#f9f9f9;

}

.course-card-ai ul{

    padding-left:20px;

}

.course-card-ai li{

    margin-bottom:10px;
    font-size:16px;

}
.activity-card{

    margin-top:30px;
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.activity-card h2{

    color:#4f46e5;
    margin-bottom:20px;

}

.activity-card table{

    width:100%;
    border-collapse:collapse;

}

.activity-card td{

    padding:15px;
    font-size:17px;
    font-weight:500;

}

.activity-card tr:nth-child(1){

    background:#EEF2FF;

}

.activity-card tr:nth-child(2){

    background:#ECFDF5;

}

.activity-card tr:nth-child(3){

    background:#FEF3C7;

}

.activity-card tr:nth-child(4){

    background:#FCE7F3;

}

.activity-card tr:nth-child(5){

    background:#E0F2FE;

}

.activity-card td:first-child{

    color:#333;
    font-weight:bold;

}

.activity-card td:last-child{

    color:#4f46e5;
    font-size:18px;
    font-weight:bold;
    text-align:center;

}

.chart-card{

margin-top:35px;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.chart-card h2{

margin-bottom:20px;

color:#4f46e5;

text-align:center;

}